.wrapper {
  width: 95%;
  margin: 0 auto;
}


.nav {
  height: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.nav h2{
  text-align: center;
  
}
h3 {
  font-size: small;
  font-weight: bold;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 8px;
}

