.wrapper {
  width: 95%;
  margin: 0 auto;
}

.App {
display: grid;
grid-template-columns: 3fr 2fr;
grid-gap: 10px; 
}
.nav {
  height: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.nav h2{
  text-align: center;
  
}
h3 {
  font-size: small;
  font-weight: bold;
}
.card {
  padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    border: thin solid #ddd;
    margin-bottom: 5px;
}
.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 8px;
}
.main {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-gap: 10px;
}
.main h3 {

}
.aside {
  display: grid;
  grid-template-columns: auto auto  ;
  grid-gap: 10px;
  height: 100px;
}